.creditCardBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardHeader{
    padding-top: 25px;
    font-size: x-large;
    text-align: center;

}

//as grid

.creditCardBoxGrid{
    width:fit-content;
    border: solid 5px rgb(182, 163, 21);
    border-radius: 15px;
    background-image: radial-gradient(gold, rgb(211, 211, 109));
    display: grid;
    padding: 10px 0 10px 10px;
    grid-gap: 10px;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    grid-auto-rows:minmax(40px, auto);
    grid-template-areas: 
        "numberTitle number . remove"
        "nameTitle n n ."
        "expTitle expMonth . ."
        "issuerTitle issuer cssTitle css";

}

.gridItem{
    border-bottom:  none;    
}

.cnTitle{
    grid-area:numberTitle;
    @extend .gridItem;
}

.cn{
    grid-area: number;
}

.cssTitle{
    grid-area: cssTitle;
    @extend .gridItem;
}

.css{
    grid-area: css;
}

.nameTitle{
    grid-area: nameTitle;
    @extend .gridItem;
}

.name{
    grid-area: n;
}

.expTitle{
    grid-area: expTitle;
    @extend .gridItem;
}

.expMonth{
    grid-area: expMonth;
}

.expYear{
    grid-area: expYear;
}

.issuerTitle{
    grid-area: issuerTitle;
    @extend .gridItem;
}

.issuer{
    grid-area: issuer;
}

.remove{
    grid-area: remove;
    
}

.remove-button{
    border: none;
    background-color: transparent;
}

.remove-button:hover{
    background-color: rgb(194, 175, 66);
    border-radius:15px;
    cursor:pointer;
}

.remove-icon{
    border: none;
    color:#BA1A1A;
}
